.login-container {
    width: 80%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.login-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login-container button {
    background: #ff2e63;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
}